<nav class="navbar">
    <div class="navbar-logo">
      <!-- Cambia el atributo href por src y proporciona la URL de la imagen de Google -->
      <img src="https://i.pinimg.com/originals/64/6e/16/646e167a38f7f7daa6b03c121d561c21.jpg" alt="Logo">
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/series">Series</a></li>
      <li><a routerLink="/peliculas">Películas</a></li>
      <!-- Agrega más enlaces según sea necesario -->
    </ul>
</nav>
